@model StockApp.Models.TB_articles

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-info">L'article <strong>@Model.Nom_articles</strong> est editer</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 class="text-danger">Voulez vous modifier l'article <strong>@Model.Nom_articles</strong></h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id_articles)

        <div class="form-group">
            <label class="control-label col-md-2"> Nom Article</label>

            <div class="col-md-10">
                @Html.EditorFor(model => model.Nom_articles, new { HtmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nom_articles)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Qte Alerte</label>

            <div class="col-md-10">
                @Html.EditorFor(model => model.Qte_alerte, new { HtmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Qte_alerte)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Description</label>

            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control input-sm", rows = 4 })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Id_categorie">Categorie</label>
            <div class="col-md-10">
                @Html.DropDownList("Id_categorie", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Id_categorie)
                @*<a href="@Url.Action("Create")" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Ajouter">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>*@
            </div>
            <div>
                @*<a href="@Url.Action("Create")" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Ajouter">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>*@
            </div>

        </div>




        @*<div class="form-group">
                @Html.LabelFor(model => model.DateCreer, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DateCreer, new { HtmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DateCreer)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CreerPar, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CreerPar, new { HtmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CreerPar)
                </div>
            </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-save"></span> Enregistrer la modification
                </button>

                <button type="reset" class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-remove-circle"></span> Annuler
                </button>

            </div>
        </div>
    </div>
}

<div>
    <a href="@Url.Action("Index")" class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span> Retourner a la liste
    </a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
