@model StockApp.Models.TB_lot_entrestock

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>TB_lot_entrestock</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Date_entrer, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date_entrer)
                @Html.ValidationMessageFor(model => model.Date_entrer)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Id_articles, "Id_articles", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Id_articles", String.Empty)
                @Html.ValidationMessageFor(model => model.Id_articles)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Id_bon_entrestock, "Id_bon_entrestock", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Id_bon_entrestock", String.Empty)
                @Html.ValidationMessageFor(model => model.Id_bon_entrestock)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Quantite, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quantite)
                @Html.ValidationMessageFor(model => model.Quantite)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
