@model StockApp.Models.TB_employe

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-info">Suppression d'un Employee</h2>

<h3 class="text-danger">Voulez vous vraiment supprimer l'employe<strong> @Model.Nom @Model.Prenom </strong></h3>
<div>
     <hr />
    <dl class="dl-horizontal">
        <dt>
            <a href="@Url.Action("Index")" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-arrow-left"> </span> Retourner
            </a>
        </dt>
        <dd>

        </dd>
        <dt>
            _____________
        </dt>
        <dd>
            _____________
        </dd>

        <dt>
            Nom
            
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            Prenom
           
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prenom)
        </dd>

        <dt>
            Email
            
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Telephone
             
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

        <dt>
            Description
             
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Date Creer
            
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreer)
        </dd>

        <dt>
            Creer Par
             
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreerPar)
        </dd>

        <dt>
            Direction
            
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TB_direction.Nom_direction)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

       <div class="form-actions no-color">
            <button type="submit" class="btn btn-danger" ><span class="glyphicon glyphicon-trash"></span> Suprimer</button> |
            <a href="@Url.Action("Index")" class="btn btn-primary">
                <span class="glyphicon glyphicon-remove-circle"> </span> Annuler
            </a>
           
        </div>
    }
</div>
